header{
    background-color: #000000;
    border-radius: 5px;
 }


 h2{
    color: white;
    text-align: center;
    padding-top: 25px;
 }

.container{
    margin-top: 30vmin;
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 19% ;
   row-gap: 60px;
   margin-left: 15vmin;
}

.caja{
 width: 30vmin;
 height: 20vmin;
 border: 1px solid #333;
 align-items: center;
 justify-content: center;
 font-size: 16px;
 border-radius: 5px;
}
.fotos{
   width: 100%;
   height: 100%;
}

.textos{
text-align: center;
}


